.content{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1em;
}

#container{
    padding: 0;
}

img{
    overflow: hidden;
    word-break: break-all;
    display:block;
    max-width: 100%;
    height: auto;
}

#intro {
    background-color:#c9c9c9
}

@media (min-width: 48em) {
    #main {
        padding: 0 2em 0;
    }
    #intro {
        padding: 0 2em 0;
    }
}