<!-- 
    Name: Nathan Flack
    Class: CPSC 314 Fall 2021
    Assignment: Homework 6 JQuery
    Last Modified Date: 3/12/2022
 -->
<!-- 
    Modified from: https://codepen.io/cathydutton/pen/GBcvo
-->
{% extends 'base.html' %}

{% block title %}Stopwatch{% endblock %}

{% block content %}
{% load static %}
<head>
    <title>HW6 - JQuery</title>
    <link rel="stylesheet" href="{% static 'spidermanstopwatch/stopwatch.css'%}" type="text/css">
</head>
<script src="{% static 'spidermanstopwatch/script.js'%}">
</script>
<div class='watchbody'>
    <div class="wrapper">
        <h1>Stopwatch</h1>
        <h2>JQuery Stopwatch</h2>
        <p id="timer"><span id="seconds">00</span>:<span id="tens">00</span></p>
        <button id="button-start">Start</button>
        <button id="button-stop">Stop</button>
        <button id="button-reset">Reset</button>
    </div>
</div>

</html>
{% endblock %}